{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Cryptocurrency{% endblock %}

{% block content %}
    <div class="container">
       <nav>
        <img src="{% static 'frontend/images/logo.png' %}" class="logo">
        <ul>
            <li><a href="#">Market</a></li>
            <li><a href="#">Feature</a></li>
            <li><a href="#">White Papers</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
        <a href="#" class="btn">EN</a>
       </nav>
        <div class="content">
            <h1>BUY & <br> SELL <span>Crypto</span></h1>
            <p>World best Cryptocurrency exchange available <br> on mobile as well as mobile phone</p>
            <button>EXPLORE MORE</button>
        </div>
        <div class="coin-list">
            <div class="coin">
                <img src="{% static 'frontend/images/bitcoin.png' %}">
                <div>
                    <h3>$ <span id="bitcoin"></span></h3>
                    <p>Bitcoin</p>
                </div>
            </div>
            <div class="coin">
                <img src="{% static 'frontend/images/dogecoin.png' %}">
                <div>
                    <h3>$ <span id="dogecoin"></span></h3>
                    <p>Dogecoin</p>
                </div>
            </div>
            <div class="coin">
                <img src="{% static 'frontend/images/ethereum.png' %}">
                <div>
                    <h3>$ <span id="ethereum"></span></h3>
                    <p>Ethereum</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<!-- page scripts (if any) will be included here) -->
{% endblock %}
